/* Palette colori */
:root {
    --primary: rgb(36, 35, 49);
    --secondary: rgba(244, 246, 245);
    --accent: rgba(229, 99, 153);
    --accent2: rgb(20, 148, 184);
}
/* Fonts */
:root{
    --font-primary: "Orbitron", serif;
    --font-secondary: "Montserrat", serif;
}

/* Basic */

body{
    overflow-x: hidden;
    background-color: var(--primary);
    color: var(--secondary);
    font-family: var(--font-secondary);
}

h1{
    font-family: var(--font-primary);
}
/* Button in generale */
.btn-custom{
    background-color: var(--accent);
    color: var(black);
    font-weight:600;
}

/* Navbar */
.text-tasky{
    color: var(--accent);
    font-weight: 600;
    font-style:oblique;
    font-size: 1.3rem;
}
.text-tasky:hover{
    color: var(--secondary);
}
.nav-link{
    color: var(--secondary);
}

.nav-link:hover{
    color: var(--accent);
}

.nav-link:active, 
.nav-link:focus {
    color: var(--secondary) !important; 
}

.navbar-toggler-icon {
    filter: invert(1);
}

.dropdown-custom {
    background-color: transparent !important;
    border: none;  
    box-shadow: none;  
}

.dropdown-item:hover {
    background-color: transparent !important;
    color: var(--accent) !important;
}
/* Fine Navbar */

/* Cards*/
.card {
    box-shadow: 3px 0px 10px 0px var(--accent2);
}

.card-review{
    box-shadow: 5px 3px 10px 3px var(--accent);

}
