/* Palette colori */
:root {
    /* primary alt */
    /* --primary: rgb(36, 35, 49); */
    --primary: rgb(10, 10, 10);
    --secondary: rgba(244, 246, 245);
    --accent: rgba(229, 99, 153);
    --accent2: rgb(20, 148, 184);
}
/* Fonts */
:root{
    --font-primary: "Orbitron", serif;
    --font-secondary: "Montserrat", serif;
}

/* Basic */
body{
    overflow-x: hidden;
    background-color: var(--primary);
    color: var(--secondary);
    font-family: var(--font-secondary);
}

h1,h2,h3{
    font-family: var(--font-primary);
}

/* Button in generale */
.btn-custom{
    background-color: var(--accent);
    color: whitesmoke;
    font-weight:400;
    /* margin-top: 5px; */
}

/* Navbar */
.text-tasky{
    color: var(--accent);
    font-weight: 600;
    font-style:oblique;
    font-size: 1.3rem;
}
.text-tasky:hover{
    color: var(--secondary);
}
.nav-link{
    color: var(--secondary);
}

.nav-link:hover{
    color: var(--accent);
}

.nav-link:active, 
.nav-link:focus {
    color: var(--secondary) !important; 
}

.navbar-toggler-icon {
    filter: invert(1);
}

.dropdown-custom {
    background-color: transparent !important;
    border: none;  
    box-shadow: none;  
}

.dropdown-item:hover {
    background-color: transparent !important;
    color: var(--accent) !important;
}

.dropdown-item-profile{
    background-color: var(--accent2);
    color: whitesmoke;
    font-weight:500;
    border-radius: 5px;
    width: 100%;
}

.dropdown-item-profile:hover{
    background-color: transparent !important;
    color: whitesmoke !important;
}

.btn-logout{
    background-color: #dc3545;
    color: whitesmoke;
    font-weight: 500;
    border-radius: 5px;
}
.btn-logout:hover{
    background-color: transparent !important;
    color: whitesmoke !important;
}
/* Fine Navbar */

/* Animazione Logo */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.logo-animation {
    animation: fadeIn 2s ease-in-out 1;
}

#logo:hover {
    filter: brightness(1) invert(0); 
    
}

/* Cards*/
.card {
    box-shadow: 3px 0px 10px 0px var(--accent2);
}

.card-review{
    box-shadow: 5px 3px 10px 3px var(--accent);
    
}

/* Hero Section */
#hero{
    position: relative;
    width: 100%;
}

.hero-content{
    position: absolute;
    top: 180px;
}

.hover-custom:hover{
    color: var(--secondary) !important;
}

.scroll-down{
    font-size: 2.3rem;
    position: relative;
    cursor: pointer;
    animation: bounce 1.5s infinite;
    color: var(--accent);
}

@keyframes bounce{
    0% { transform: translateY(0); }
    50% { transform: translateY(13px); }
}

.title-custom{
    color: var(--accent);
}

.shadow-custom{
    box-shadow: 0px 0px 6px 3px var(--accent2);
    border-radius: 15px;
}

/* About Us Carousel */
.about-us-bg{
    height: 650px;
    width: 100%;
    background-image: url("../img/background.jpeg");
    background-size: cover;
}

/* Footer */
.border-color{
    border-color: var(--accent) !important;
}

.footer-position{
    position: relative;
    top: 80px;
}

.btn-outline-light{
    border-color: var(--accent);
}