/* Palette colori */
:root {
    /* primary alt */
    --primary: rgb(10, 10, 10);
    --primary-op: rgba(10, 10, 10, 0.1);
    --secondary: rgba(244, 246, 245);
    --accent: rgba(229, 99, 153);
    --accent-op: rgba(229, 99, 153,0.7);
    --accent2: rgb(20, 148, 184);
    --accent2-op: rgba(20, 149, 184, 0.7);
}
/* Fonts */
:root{
    --font-primary: "Orbitron", serif;
    --font-secondary: "Montserrat", serif;
}

/* Basic */
body{
    overflow-x: hidden;
    background-color: var(--primary);
    color: var(--secondary);
    font-family: var(--font-secondary);
}

h1,h2,h3{
    font-family: var(--font-primary);
}
.text-title{
    font-family: var(--font-primary);
}
.text-color{
    color: var(--accent);
}
.text-color:hover{
    color: whitesmoke;
}
/* Buttons in generale */
.btn-custom{
    background-color: var(--accent);
    color: whitesmoke;
    font-weight:400;
    margin-top: 5px;
    border-radius: 20px;
}

.btn-outline-light{
    border-color: var(--accent);
    font-size: small;
    border-radius: 18px;
}
.btn-outline-light:hover{
    color: var(--accent);
    background-color: transparent;
}

/* Navbar */
.text-tasky{
    color: var(--accent);
    font-weight: 600;
    font-style:oblique;
    font-size: 1.3rem;
}
.text-tasky:hover{
    color: var(--secondary);
}
.nav-link{
    color: var(--secondary);
}

.nav-link:hover{
    color: var(--accent);
}

.nav-link:active, 
.nav-link:focus {
    color: var(--secondary) !important; 
}

.navbar-toggler-icon {
    filter: invert(1);
}

.dropdown-custom {
    background-color: transparent !important;
    border: none;  
    box-shadow: none;  
}

.dropdown-item:hover {
    background-color: transparent !important;
    color: var(--accent) !important;
}

.dropdown-item-profile{
    background-color: var(--accent2);
    color: whitesmoke;
    font-weight:500;
    border-radius: 5px;
    width: 100%;
}

.dropdown-item-profile:hover{
    background-color: transparent !important;
    color: whitesmoke !important;
}
.btn-profile{
    background-color: var(--accent2);
    color: whitesmoke;
    border-radius: 20px;
}
.btn-profile:hover{
    background-color: transparent !important;
    color: whitesmoke !important;
}
.btn-logout{
    background-color: #dc3545;
    color: whitesmoke;
    font-weight: 500;
    border-radius: 20px;
    
}
.btn-logout:hover{
    background-color: transparent !important;
    color: whitesmoke !important;
}
/* Fine Navbar */

/* ANIMAZIONE LOGO*/
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.logo-animation {
    animation: fadeIn 2s ease-in-out 1;
}

#logo:hover {
    filter: brightness(1) invert(0); 
    
}

/* BACKGROUND SITO*/
.bg-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: -1;
    filter: blur(3px);

}
.bg-overlay::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(12, 12, 12, 0.8), rgba(12, 12, 12, 0.6));
}

/* CARDS*/
.card{
    /* background-color: rgba(239, 239, 239); */
    background: var(--primary-op); /* Sfondo bianco molto trasparente */
    backdrop-filter: blur(8px); /* Crea l'effetto sfocato del vetro */
    -webkit-backdrop-filter: blur(8px); /* Per Safari */
    border-radius: 10px;
    color: whitesmoke;
}
.card-body{
    /* background-color: rgba(239, 239, 239); */
    background: var(--primary-op); /* Sfondo bianco molto trasparente */
    backdrop-filter: blur(8px); /* Crea l'effetto sfocato del vetro */
    -webkit-backdrop-filter: blur(8px); /* Per Safari */
    border-radius: 10px;
}

/* Cards servizi */
.card-service{
    box-shadow: none;
    margin: 6%;
    transition: transform 0.2s, 
    box-shadow 0.5s ease-in-out; 
}
.card-service:hover{
    transform:scale3d(1.01);
    box-shadow: 12px 12px 15px  var(--accent2-op);
}

/* Cards recensioni */
.card-review{
    box-shadow: none;
    margin: 6%;
    transition: transform 0.2s, 
    box-shadow 0.3s ease-in-out;
    overflow: hidden;
}
.card-review:hover{
    box-shadow: 12px 12px 15px  var(--accent-op);
}

/* cards login/register */
.card-auth{
    background: var(--primary-op); 
    backdrop-filter: blur(12px); 
    -webkit-backdrop-filter: blur(8px);
    border-radius: 10px;
    color: whitesmoke;
}
.card-body-auth{
    background: var(--primary-op);
    backdrop-filter: blur(12px); 
    -webkit-backdrop-filter: blur(8px);
    border-radius: 10px;
}

/* Hero Section */
#hero{
    position: relative;
    width: 100%;
}

.hero-content{
    position: absolute;
    top: 180px;
}

.hover-custom:hover{
    color: var(--secondary) !important;
}

.scroll-down{
    font-size: 2rem;
    position: relative;
    cursor: pointer;
    animation: bounce 1.5s infinite;
    color: var(--accent);
}

@keyframes bounce{
    0% { transform: translateY(0); }
    50% { transform: translateY(13px); }
}

.title-custom{
    color: var(--accent);
    text-shadow: 5px 2px 8px var(--accent-op);
}
.title-custom2{
    color: var(--accent2);
    text-shadow: 5px 2px 8px var(--accent2);
}
.title-custom3 {
    background: radial-gradient(circle, rgb(20, 148, 184), rgba(229, 99, 153));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: bold;
    
}
.shadow-custom{
    box-shadow: 0px 0px 6px 3px var(--accent2);
    border-radius: 15px;
}

/*CAROUSEL*/
.about-us-bg{
    background: transparent;
    height: 750px;
    width: 100%;
    background-size: cover;
    position: relative;
}

#textCarousel, .carousel-inner, .carousel-item {
    height: 100%;
    width: 100%;
}

.carousel-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: whitesmoke; 
    font-size: 1.2rem;
    max-width: 100%;
}

.carousel-text h2 {
    margin-bottom: 1rem;
    letter-spacing: 5px;
}

.carousel-control-prev, .carousel-control-next {
    width: 5%;
}

.carousel-indicators {
    bottom: 20px;
}
/* FINE CAROUSEL */

/* AGGIUNGI SERVIZIO/REGISTRATI HOMEPAGE */
.border-custom{
    border-bottom: 2px solid var(--accent-op);
    padding: 8px;
    width: 50%;
}

.freelance-row{
    position: relative;
    left: -15%;
}
.freelance-span{
    text-shadow: 5px 2px 8px var(--accent-op);
}
.service-row{
    position: relative;
    left: 15%;
}
.service-span{
    text-shadow: 5px 2px 8px var(--accent2);
    
}
.home-link{
    color: whitesmoke;
}
.home-link:hover{
    color: #D2F898;
}

/* FOOTER */
.border-color{
    border-color: var(--accent) !important;
}

.footer-position{
    position: relative;
    top: 80px;
}
